.unity-label {
    font-size: 10px;
    /* color: rgb(204, 204, 204); */
}

.big .unity-label {
    font-size: 24px;
    /* color: rgb(204, 204, 204); */
}

.field-label {
    flex-grow: 0;
    flex-basis: 80px;
}

.big .field-label {
    flex-grow: 0;
    flex-basis: 140px;
}

#settings .unity-base-text-field__input {
    padding: 0;
}

#settings .unity-text-element {
    font-size: 24px;
}
