.unity-label {
    font-size: 10px;
    color: rgb(204, 204, 204);
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

.big .unity-label {
    font-size: 24px;
    color: rgb(204, 204, 204);
    text-shadow: 0 0 8px rgb(0, 0, 0);
}

.field-label {
    flex-grow: 0;
    flex-basis: 80px;
}

.big .field-label {
    flex-grow: 0;
    flex-basis: 160px;
}

.big.small-screen .unity-label {
    font-size: 64px;
}

.big.small-screen .field-label {
    flex-basis: 420px;
}
